.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inline-content {
  display: flex;
}

.nav-btn {    
  color: whitesmoke;
  background: #042e82;
  height: 40px;
  width: 160px;
  margin: 3px;
  font-family: system-ui;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  border: #042e82;
}
.nav-btn:hover {        
  color: #565252;
  background: #8dace9;
  cursor: pointer;
  border: #8dace9;
}

.validation-msg {
  font-size: 12px;
  color: #e90000;
  font-weight: 500;
  margin-left: 3px;
}